@model List<LatestBlog>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="single-blog">
                <div class="blog-img">
                    <a asp-action="detail" asp-route-id="@item.Id"><img src="~/img/blog/@item.ImageUrl" alt="blog"></a>
                    <div class="blog-hover">
                        <a asp-action="detail" asp-route-id="@item.Id"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                <div class="blog-content">
                    <div class="blog-top">
                        <p>By @item.UserName  /  @item.Date.ToString("MMMM/dd/yyyy")  /  <i class="fa fa-comments-o"></i> @item.CommentScore</p>
                    </div>
                    <div class="blog-bottom">
                        <h2><a href="blog-details.html">@item.Desc </a></h2>
                        <a asp-action="detail" asp-route-id="@item.Id">read more</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>