@model HomeVM
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<!-- Mirrored from demo.devitems.com/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:02 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Eduhome - Educational HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/meanmenu.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/et-line-icon.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <script src="~/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header Area Start -->
    <header class="top">
        <div class="header-area header-sticky fixed">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="logo">
                            <a asp-controller="home" asp-action="index"><img src="~/img/logo/@Model.Logo.ImageUrl" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <div class="content-wrapper one">
                            <!-- Main Menu Start -->
                            <div class="main-menu one text-right">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-controller="home" asp-action="index">Home</a>
                                        </li>
                                        <li><a asp-action="index" asp-controller="about">About</a></li>
                                        <li>
                                            <a asp-action="index" asp-controller="course">courses</a>

                                        </li>
                                        <li>
                                            <a asp-action="index" asp-controller="event">event</a>

                                        </li>
                                        <li class="hidden-sm">
                                            <a asp-action="index" asp-controller="teacher">teacher</a>

                                        </li>
                                        <li>
                                            <a asp-action="index" asp-controller="blog">blog</a>

                                        </li>
                                        <li><a asp-action="index" asp-controller="contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="mobile-menu hidden-lg hidden-md one"></div>
                            <!-- Main Menu End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <!-- Background Area Start -->
    <section id="slider-container" class="slider-area">
        <div class="slider-owl owl-theme owl-carousel">
            <!-- Start Slingle Slide -->
            @foreach (var item in Model.Sliders)
            {
                <div class="single-slide item" style="background-image: url(img/slider/@item.ImageUrl)">
                    <!-- Start Slider Content -->
                    <div class="slider-content-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7 col-md-offset-left-5">
                                    <div class="slide-content-wrapper">
                                        <div class="slide-content">
                                            <h3>@item.Title </h3>
                                            <p>@item.Desc  </p>
                                            <a class="default-btn" href="about.html">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Start Slider Content -->
                </div>
            }
            <!-- End Slingle Slide -->
        </div>
    </section>
    <!-- Background Area End -->
    <!-- Notice Start -->
    <section class="notice-area pt-150 pb-150">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("NoticeBoard")
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="notice-right">
                        @foreach (var item in Model.Profs)
                        {
                            <div class="single-notice-right mb-15 pb-20">
                                <h3>@item.ProfTitle</h3>
                                <p>@item.ProfDesc </p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Notice End -->
    <!-- Choose Start -->
    <section class="choose-area pb-85 pt-77">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                    <div class="choose-content text-left">
                        <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                        <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                        <a class="default-btn" href="course-details.html">view courses</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Choose Area End -->
    <!-- Courses Area Start -->
    <div class="courses-area pt-150 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="~/img/icon/section.png" alt="section-title">
                        <h2>COURSES WE OFFER</h2>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("Course",3)

        </div>
    </div>
    <!-- Courses Area End -->
    <!-- Event Area Start -->
    <div class="event-area one text-center pt-140 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title">
                        <img src="~/img/icon/section.png" alt="section-title">
                        <h2>UPCOMMING EVENTS</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                @foreach (var item in Model.Events)
                {
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-event mb-35">
                            <div class="event-date">
@*                                <h3><a asp-action="detail" asp-controller="event">@item.Date.ToString("dd")<span>@item.Date.ToString("MMMM")</span></a></h3>
*@                            </div>
                            <div class="event-content text-left">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">@item.Name</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>@item.Duration</li>
                                        <li><i class="fa fa-map-marker"></i>@item.Location</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" asp-action="detail" asp-controller="event">join now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- Event Area End -->
    <!-- Testimonial Area Start -->
    @await Component.InvokeAsync("Banner")
    <!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
            @await Component.InvokeAsync("LatestBlog",3)
    </div>
</div>

<!-- Blog Area End -->
    @await Component.InvokeAsync("Footer")
<!-- Footer End -->

<script src="~/js/vendor/jquery-1.12.0.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/jquery.meanmenu.js"></script>
<script src="~/js/jquery.magnific-popup.js"></script>
<script src="~/js/ajax-mail.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.mb.YTPlayer.js"></script>
<script src="~/js/jquery.nicescroll.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/main.js"></script>
</body>

<!-- Mirrored from demo.devitems.com/eduhome/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 21 Jun 2020 19:44:03 GMT -->
</html>

